﻿@{
    ViewBag.Title = "Szambo Checker";
}

<div class="page-header" id="banner" style="display: none">
    <div class="row">
        <h1 data-bind="text:Status"></h1>
    </div>
    <div class="row" data-bind="foreach: GameList , visible:GameList().length>0">
        <div class="col-lg-6">
            <p class="lead" data-bind="text: Ip"></p>
            <img width="256" height="256" data-bind="attr:{src: MapImageUrl, alt:MapName}" class="img-circle">
        </div>
        <div class="col-lg-6">
            <div class="well wrapper">
                <div class="ribbon-wrapper-green"><div class="ribbon-green" data-bind="text: Gametype"></div></div>
                <span class="SmallHeadline" data-bind="text: Hostmane"></span> <span class="SmallHeadline">zaprasza na:</span>
                <div class="LargeHeadline" data-bind="text: MapName"></div>
                <div class="counterdiv">
                    <span class="badge couter" data-bind="style: {'backgroundColor': CounterColor}"><span data-bind="text: ConnectedPlayers"></span><span>/</span><span data-bind=" text:MaxPlayers"></span></span>
                </div>
                

            </div>
            <button data-bind="attr: { href: LaunchUrl}" type="button" class="btn btn-danger pull-right">Graj!</button>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/signalr/hubs"></script>
    <script>
        var updateCount = 0;
        $(function() {
            $(document).on('click', '.btn-danger', function() {
                window.open($(this).attr('href'), '_self');
            });
            // Reference the auto-generated proxy for the hub.
            var szambo = $.connection.szamboHub;
            var szamboViewModel;
            // Create a function that the hub can call back to display messages.
            szambo.client.sendStatus = function(szambo) {
                szamboViewModel = ko.mapping.fromJS(szambo, {}, szamboViewModel);
                updateCount++;
                document.title = '(' + updateCount + ') ' + szambo.Status;

            };
            szambo.client.StartIndicator = function() {
                Pace.restart();
            };
            // Start the connection.
            $.connection.hub.start().done(function() {
                ko.applyBindings(szamboViewModel);
                $('#banner').show();
            });


        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>
}