﻿.img-circle {
    height: 256px;
    width: 256px;
}

.couter { font-size: xx-large; }

.counterdiv { text-align: center; }

.SmallHeadline {
    font-family: Gill Sans, Verdana;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
}

.LargeHeadline {
    color: #444;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 71px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 64px;
    margin: 0;
    padding: 0px 0px 6px 0px;
}

.wrapper {
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 85px;
}

.ribbon-green {
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(45deg);
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #333;
    color: #6a6340;
    font: bold 15px Sans-Serif;
    left: -5px;
    padding: 7px 0;
    position: relative;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    top: 15px;
    width: 120px;
}

.ribbon-green:before, .ribbon-green:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #6e8900;
    bottom: -3px;
    content: "";
    position: absolute;
}

.ribbon-green:before { left: 0; }

.ribbon-green:after { right: 0; }