<!DOCTYPE html>
<html lang="en" class="fuelux">
    @RenderPage("_Head.cshtml")
    <body>
        @RenderPage("_Header.cshtml")
        <div class="container">
            @RenderPage("_NoScript.cshtml")
            <div class="row">
                <div id="content" class="span12">
                    @RenderPage("_ErrorContainer.cshtml")
                    <div class="mobile-space-spam" ></div>
                    @RenderBody()
                </div>
            </div>
        </div>
        @RenderPage("_Footer.cshtml")
        @RenderPage("_Scripts.cshtml")
        @RenderSection("Scripts", false)
    </body>
</html>