﻿<footer id="footer">
    <div class="row">
        <div class="span12">
            <div class="footer">
                <div class="container">
                    <div class="pull-right ">
                        Powered by:
                        <a href="http://www.asp.net/mvc/mvc4">
                            MVC4
                        </a> 
                        <a href="http://signalr.net/">
                            SignalR
                        </a>
                        <a href="http://knockoutjs.com/">
                            Knockoutjs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>