﻿<div id="header">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Szambo Checker</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar">1</span>
                    <span class="icon-bar">2</span>
                    <span class="icon-bar">3</span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../SzamboRuner.exe">Pobierz Szambo Runer </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="https://google.com/" target="_blank">google</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>