﻿@using System.Configuration
<head>

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    @* if debug don't minify my less/css*@
    @if (ConfigurationManager.AppSettings["IsDebuggingEnabled"] == @"true")
    {
        @Styles.Render("~/content/css")
    }
    else
    {
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/content/css")" rel="stylesheet"/>
    }

    @Html.Partial("_html5shiv")

</head>