           <meta http-equiv="X-UA-Compatible" content="IE=10" /> 
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="~/scripts/Lib/Vendor/Html5/html5shiv.js"></script>
    <script src="~/scripts/Lib/Vendor/Html5/respond.js"></script>
<![endif]-->
<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/Content/all-ie-only.css" />
<![endif]-->