﻿@using System.Configuration
@{
    ViewBag.Controller = ViewContext.RouteData.GetRequiredString("controller");
    ViewBag.Action = ViewContext.RouteData.GetRequiredString("action");
} 
@* if debug don't minify my javascripts*@
@if (ConfigurationManager.AppSettings["IsDebuggingEnabled"] == @"true")
{
    @Scripts.Render("~/js")
}
else
{
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/js")" type="text/javascript"></script>
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/" + @ViewBag.Controller + "-" + @ViewBag.Action)" type="text/javascript"></script>
}

@AntiForgery.GetHtml()